    
    .footer-google{
        width: 100px;
    margin-top: -20%;
    }
    .dropdown-menu:li {
        text-align: left;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; 
     }
    .navbar-nav{
      float: right;
    }
    .navbar-nav > li > .dropdown-menu{
      left: 10px;
    }
    .dropdown-menu > li > a{
      display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 600;
        line-height: inherit;
        color: black;
        white-space: nowrap;
        font-size: 10px;
        text-transform: uppercase;
    }
    .header-partner{
        height: 92%;
    }
    #page-top{
        padding-right: 0px!important;
    }
    .thankyou{
            text-align: center;
    font-size: 26px;
    color: #39A935;
    }
    .header-about{
        height: 92%;
    }
    .polina{
        min-height: 85%!important;
        background: rgba(0,0,0,0.7)!important;
    }
    .header-overlay{
        min-height: 100%!important;
    }
    #products{
        min-height: 15%!important;
    }
    .exp-us-a{
            padding: 7px!important;
    }
    .s2mblack img{
        width: 300px;
            
    }
    .mobile-bg{
            display: none;
    }
    .mobile-bg-about{
        display: none;
    }
    /*.viedo-bg{
        display: none;
    }*/
    .mobile-bg-partners{
        display: none;
    }
    .phone-logo{
        font-size: 12px;
    }
    .exp-us{

    border: 1px solid white;
    margin-right: 15px;
    margin-top: 7px;
    border-radius: 2px;
    }
    .page-scroll p{
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 10px;
    }
    .footer-tags a{
        text-decoration: none;
    }
    .footerdivtextbottom{
            font-size: 12px;
    padding-top: 5px;
    padding-left: 35%;
    }

    .phone{
        color: white;
        padding-top: 14px;
        font-weight: 300;
        font-size: 12px;
    }
    .can h2{
            position: absolute;
    top: 150px;
    right: 150px;
    width: 400px;
    height: 100px;
    font-size: 41px;
    font-weight: 300;
    font-family: "Roboto",sans-serif;
    color: #019934;
    }
    .can h1{
     position: absolute;
    top: 180px;
    right: 150px;
    width: 400px;
    padding-top: 20px;
    font-size: 64px;
    font-weight: 300;
    font-family: "Roboto",sans-serif;
    color: rgb(1,153,52);
    height: 100px;   
    }
    .heading{
        padding-top: 5%;  
    font-size: 40px;
    color: #019935;
    line-height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    }
    .modal-backdrop.in{
        z-index: -5!important;
    }
    .school-tag{
        text-transform: uppercase;
    }
    .header-about-tag {
            font-family: 'Roboto';
            color: rgb(1,153,52);
    text-align: center;
    position: relative;
    top: 225px;
    z-index: 2;
    white-space: nowrap;
    transition: all 0s ease 0s;
    min-height: 0px;
    min-width: 0px;
    line-height: 65px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-size: 50px;
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);

    }
    .sub-heading{
        padding-top: 10px;
    font-size: 20px;
    color: black;
    line-height: 37px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
    }
    .content-div p{
        line-height: 30px;
        font-size: 16px;
    }
    .content-div{
    color: black;
    padding: 10px;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: transparent!important;
    border-right: none!important;
    position: relative;
    color: #21965b!important;
    text-transform: none;
    z-index: 10;
    border: none!important;
    border-bottom: 3px solid #21965b!important;
    overflow-y: hidden;
    transition: all 0.3s cubic-bezier(0.12,0.75,0.4,1);
    -webkit-transition: all 0.3s cubic-bezier(0.12,0.75,0.4,1);
    }
    .nav-tabs>li>a:hover{
    border-color: none!important;

    }
    .nav>li>a:focus, .nav>li>a:hover{
        background-color: none!important;
    }
    .mynavtabs{
        line-height: 42px;
        font-size: 18px;
        width: 52%;
        margin-bottom: 45px!important;
    }
    .row-head {
        text-transform: none;
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
        color: #21965b !important;
        
    }
    .row-head-content {
        text-transform: none;
        font-size: 15px;
        line-height: 18px;
        font-weight: 400!important;
        color: black;
        padding-top: 10px;
        
    }
    .row-content{
            color: black;
            text-transform: none;
        font-size: 14px;
        line-height: 30px;
        
        
    }
    .div-we-are{
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .content-readby{
        text-align: left;
        padding: 0px 60px 40px 60px;
    }
    .div-we-are-content{   
     color: black;
    text-align: center;
    text-transform: none;
    line-height: 30px;
    }

    .boxstyle{   
        padding-bottom: 0px!important;
        border-radius: 4px;
     background: #fff;
        font-size: 14px;
        color: #6e6e6e;
        font-family: "Roboto Light";
        box-shadow: 0px 1px 3px rgba(0,0,0,.08);
        padding: 20px;
        margin-right: 30px;
        width: 45%;
        margin-left: 25px;
    }
    .boxstyle h4{
        color: #010101;
        font-size: 25px;
        text-align: left;
        text-transform: uppercase;
        margin-top: 30px;
        padding: 0px 0 13px 0;
        font-weight: 500;
    }
    .owl-carousel.owl-loaded{
        padding-top: 30px;
    }
    .boxstyle h5{
        text-align: left;
        line-height: 30px;
        color: black;
        font-weight: 400;
    }
    .boxstyle a{
        text-decoration:none;
    }
    .mobile-view{
  display: none!important;
}
    @media only screen and (max-width: 768px) {
        .footer-google{
        width: 115px;
    margin-top: -10%!important;
    }
        .navbar-nav{
      padding-top: 0px!important;
        }
        .mobile-view{
            display: block!important;
        }
        .dropdown{
            display: none!important;
        }
        .navbar-nav{
            float: left;
        }
        .nav-pills > li{
            width: 100%!important;
            border-right: none!important;
        }
        .s2mblack img{
            width: 200px!important;
        }

        .navbar-default{
        border: none!important;
        background: #333;
        }
        section.home{
            padding-top: 80px;
        }
        .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
                background: #414141;
    height:100%;
        }
        .popbtn{
            padding: 10px 40px!important;
            margin-left: 0px!important;
        }
        .heading-tag-mobile{
                font-size: 30px;
    font-weight: 500!important;
    padding-top: 35px;
        }
        .mobile-bg-partners{
            display: block;
    color: rgb(1,153,52);
    text-decoration: none;
    background-color: transparent;
    text-shadow: none;
    text-align: center;
    border-width: 0px;
    border-color: rgb(0,0,0);
    border-style: none;
    background: url(../img/partners.jpg) ;
    background-size: cover;
        padding-top: 10%;
    padding-bottom: 10%;

        }
        .mobile-bg-about{
            display: block;
    color: rgb(1,153,52);
    text-decoration: none;
    background-color: transparent;
    text-shadow: none;
    text-align: center;
    border-width: 0px;
    border-color: rgb(0,0,0);
    border-style: none;
    background: url(../img/about-img.jpg) no-repeat;
    background-size: cover;
        padding-top: 10%;
    padding-bottom: 10%;

        }
        .mobile-bg{
    display: block;
    color: rgb(1,153,52);
    text-decoration: none;
    background-color: transparent;
    text-shadow: none;
    text-align: center;
    border-width: 0px;
    border-color: rgb(0,0,0);
    border-style: none;
    background: url(../img/S2mbannerfinal.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
    height: 250px;
    }

        .list-view p{
            color: white;
        }
        .phone{
               width: 100%;
    margin-left: 6%;
        }
        .exp-us{
                margin-left: 6%;   
        }
        .navbar-header{
            height: 65px!important;
        }
        .header-about{
            display: none;
        }
        .header-partner{
            display: none;
        }
        .newsletter_sec{
            border-top: none!important;
        }
        .flip-container, .front, .back{
            width: 100%!important;
            height: 315px !important;
        }
        .img-testimonial-text{
            width: 100%!important;
            text-align: center!important;
            padding-bottom: 20px!important;
        }
        .polina{
            display: none!important;
        }
        .front .name{
            margin-top: 260px!important;
        }
        .school-engagement{
            padding-top: 10px!important;
            text-align:center!important;
        }
        .front{
            background-size: contain!important;
        }
        .core-values{
            padding-top: 10px!important;
            padding-bottom: 10px!important;
        }
        .core-teamdiv{
            padding-top: 0px!important;
            padding-bottom: 0px!important;
        }
        .core-team{
            padding-top: 10px!important;
            padding-bottom: 30px!important;
        }
        video{
            display: none!important;
        }
        #bgvid{
            display: none!important;
        }
        #source-id{
            display: none!important;
        }
        section.products{
            display: none;
        }
        .owl-carousel .owl-item img{
        width: 100px;
    display: block;
    margin-left: 20%!important;

    }
        .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus{
       
        }
        .navbar-default .navbar-header .navbar-toggle{
       /*    display: none;*/
        }
        .fast-img{
            padding-bottom: 0px!important;
        }
        .wow-img{
            padding-bottom: 0px!important;
        }

        .boxstyle-div-fast-wow{
            width: 100%;
        }
        .school-count{
            padding: 0px;
        }
        .school-count-width{
            width: 120px!important;
        }
        #main-footer{
            margin: 0px;
        }
        .footerdiv {
            width: 100%;
        }
        .school-count-div{
            width: 100%;
        }
        .school-tag{
            font-size: 16px!important;
        }
        .count{
            font-size: 18px!important;
            line-height: 2px!important;
    padding-top: 20px!important;
        }
        .school-count-tag{
            text-align: left;
            padding-left: 20%;
        }
        .mynavtabs{
            line-height: 30px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px!important;
        }
        #ourapproach img{
            width: 250px!important;
        }
        .boxstyle{
            border-radius: 4px;
                background: #fff;
                padding-bottom: 0px!important;
        font-size: 14px;
        margin-right: 0px;
        color: #6e6e6e;
        font-family: "Roboto Light";
        box-shadow: 0px 1px 3px rgba(0,0,0,.08);
        
        margin-bottom: 30px;
        width: 100%;
        margin-left: 0px;
        }
        .content-readby {
            padding: 0px ;
            padding-bottom: 20px;
        }
        section.home{
            padding:0px;
            padding-top: 22px;
        }
        .img-center-div img{
            width: 150px!important;
            height: auto!important;
            padding-bottom: 0px;
        }
        .footerdiv h4{
            padding-left: 0px!important;
        }

    }
    @media only screen and ( min-width: 1000px) and (max-width: 1200px){
        .navbar-right{
            width: 71%;
            left: 10%;
        }

        .navbar-default.affix{
            height: 110px!important;
        }
        .play-media{
                position: relative;
    top: 300px;
    float: right;
    margin-right: 32%!important;
        }
        .boxstyle{
             background: #fff;
        font-size: 14px;
        padding: 20px;
        color: #6e6e6e;
        padding-bottom: 0px!important;
        font-family: "Roboto Light";
        box-shadow: 0px 1px 3px rgba(0,0,0,.08);
        border-radius: 4px;
        margin-right: 25px;
        width: 44%;
        margin-left: 25px;
        }
    }
    
    @media only screen and ( min-width: 1200px) and (max-width: 1300px){
        
        .navbar-default.affix{
           /* height: 110px!important;*/
        }
        .play-media{
                position: relative;
    top: 300px;
    float: right;
    margin-right: 32%!important;
        }
        .boxstyle{
             background: #fff;
        font-size: 14px;
        padding: 20px;
        color: #6e6e6e;
        padding-bottom: 0px!important;
        font-family: "Roboto Light";
        box-shadow: 0px 1px 3px rgba(0,0,0,.08);
        border-radius: 4px;
        margin-right: 25px;
        width: 44%;
        margin-left: 25px;
        }
    }
    @media only screen and ( min-width: 1150px) and (max-width: 1300px){
        .play-media{
            margin-left: 30%!important
        }
    }
       
    @media only screen and ( min-width: 768px) and (max-width: 1000px){
        .navbar-right{
            width: 70%;
            padding-left: 10%;
        }

        .navbar-default.affix{
            height: 110px!important;
        }
        .play-media{
                position: relative;
    top: 300px;
    float: right;
    margin-right: 40%!important;
        }
        .mynavtabs{
            width: 75%;
        }   
        .school-count-div{
            width: 100%;
        }
        .boxstyle{
            padding-bottom: 0px!important;
            border-radius: 4px;
            padding:20px;
                background: #fff;
        font-size: 14px;
        color: #6e6e6e;
        font-family: "Roboto Light";
        box-shadow: 0px 1px 3px rgba(0,0,0,.08);
        
        margin-right: 30px;
        width: 42%;
        margin-left: 20px;
        }
        .div-we-are{
            width: 100%;
        }
        section.home{
            padding: 0px;
        }
        .content-readby{
            padding: 0px;
        }
        .img-center-div  img{
            width: 180px;
        }
    }
      .carousel,
    .carousel-inner,
    .carousel-inner > .item {
        overflow: hidden;
    }
    .carousel-inner:before {
       display: none;
    }
    .carousel-inner:after {
       display: none;
    }

    .carousel-control.left, .carousel-control.right {
       display: none;
    }

    .signup-heading h1{
        font-size: 22px;
        color: #019934 !important;
        font-weight: 400!important;
                }
    .input-signup{
                    
        margin: 0px 7px!important;
        padding: 7px 7px 11px 20px;
        width: 40%;
        font-weight: 400;
        font-size: 17px!important;
        background: #0e6837;
        border: none;
        color: #fff;
        }
    .join-now{
        padding: 5px 10px 10px 0px;
        line-height: 25px;
        margin: 0px 7px!important;
        border: 1px #474747 solid!important;
        width: 17%!important;
        font-size: 20px;
        color: #2a2a2a!important;
        font-weight: 400;
        background: none!important;
                }
    input::placeholder {
      color: white;
        }
        .item-img img{
            height: 80px;
        }
        .parallax {
    /* The image used */
    background-image: url("");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .knowmore-freadom{
            border-top: 1px solid #8e44ad;
    padding-top: 10px;
    color: #8e44ad!important;
    font-size: 12px!important;
    font-weight: bold!important;
    }
    .knowmore-wow{
        border-top: 1px solid #003399;
    padding-top: 10px;
    font-size: 12px !important;
    color: #003399!important;
    font-weight: bold!important;

    }
    section.products{
        background:white;
        padding: 10px 0px;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
        background: white;
    }
    .fa{
    color: #39a935;
    font-size: 20px;
  }
    .navbar-brand{
        padding: 10px 15px;
    }
    video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('/img/home1.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.class-magnify{
    padding-left: 15%;
    padding-right: 15%;
}
.magnify { margin: 50px auto; position: relative; cursor: none}

/*Lets create the magnifying glass*/
.large {
    width: 175px; height: 175px;
    position: absolute;
    border-radius: 100%;
    
    /*Multiple box shadows to achieve the glass effect*/
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
    0 0 7px 7px rgba(0, 0, 0, 0.25), 
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    
    /*hide the glass by default*/
    display: none;
}

/*To solve overlap bug at the edges during magnification*/
.small { display: block; 
}
.owl-carousel .owl-item img{
        width: 100px!important;
    display: block;
    margin-left: 25%;

}
 /*.owl2-style > .owl-carousel.owl-drag > .owl-item{
    width: 120px!important;
}
.owl2-style > .owl-carousel > .owl-item > img{
    width: 80px;
}*/
blockquote{
    padding:0px;
    border-left: none;
        margin: 0px 20px 20px;
}
blockquote h5{
    text-align: center;
    padding: 50px 50px 50px 50px;
    border-radius: 10px;
    margin-bottom: 40px;
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    quotes: "\201C""\201D";
    position: relative;
    background: #0e6837!important;
    color: white;
    line-height: 30px;
}
.bottom-arrow{
    position: absolute;
    width: 28px;
    height: 28px;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: 100%;
    left: 50%;
    margin-left: -20px;
    margin-top: -19px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    background: #0e6837!important;

}
.image-icon{
    width: 70px;
    height: 70px;
    margin-bottom: 17px;
    position: relative;
    font-family: Roboto!important;
    font-size: 50px;
    text-align: center;
    display: inline-block;
    border-radius: 100px;
    line-height: 70px;
    background-size: cover;
}
blockquote span {
    font-size: 16px;
    display: block;
    color: black;
    line-height: 22px;
    font-weight: 400;
}
blockquote span.title {
    font-size: 14px!important;
}
.heading-desc{
    padding: 30px 0px;
}
.modal-dialog{
    color: black;
}
.modal-content{
    background: #0e6837;
}
    .newsletter_sec {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
}
.newsletter_form form{
        border: 2px solid #003399;
    box-shadow: 0px -1px 10px -3px;
}
.flex_elements {
    border-color: white!important;
}
.form-group {
    text-align: center;
}
.carousel-control.right{
    background-image: none !important;
}
.carousel-control.left{
    background-image: none !important;
}
.newsletter_sec .newsletter_holder .newsletter_heading {
    text-align: center;
    padding: 20px 0 0;
    color: #0e6837;
}   
.newsletter_sec .newsletter_holder .newsletter_title {
    font-size: 22px;
    /*font-weight: 500;*/
}
.newsletter_sec .newsletter_holder .newsletter_subtitle {
    font-size: 18px;
    font-weight: 300;
}
.newsletter_sec .newsletter_holder .newsletter_form {
    text-align: center;
    padding: 20px 0;
}
.flex_holder {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.newsletter_sec .newsletter_holder .input_with_icon {
    position: relative;
    display: inline-block;
}
.flex_holder .flex_elements {
        background: #0E6837;
    color: white;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
input::placeholder {
  color: black;
}
.play-media{
    position: relative;
    top: 300px;
    float: right;
    margin-right: 25%;
}
.play-media img{
    width: 40px;
}
.newsletter_sec .newsletter_holder .input_with_icon i {
    position: absolute;
    top: 55%;
    left: 15px;
    font-size: 28px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #0E6837;
}
.ion-paper-airplane:before {
    content: "\f2c3";
}
.newsletter_sec .newsletter_holder .input_with_icon .inputtext {
    height: 50px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
    padding: 11px 10px 10px 60px;
    font-size: 16px;
    font-weight: 300;
    color: black;
}
.newsletter_sec .newsletter_holder .btn {
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-radius: 0 4px 4px 0;
    height: 50px;
    padding: 0 25px;
}
.school-count-tag{
    padding-top: 10px;
}
    .school-tag{
        margin-top: 10px;
            font-size: 32px;
    color: white;
    font-weight: 500!important;
    }
    .count{
        color: white;
        font-weight: 700;
        font-size: 30px;
        line-height: 20px;
        
    }
    .school-count{
        padding: 50px 0px;
        background: #0e6837 ;
    }
    .text-footer h4{
        color: #fff;
        padding-top: 10px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    }
    .footer-tags h5{
            margin-top: 0px;
    line-height: 24px;
    color: white;
    }
    .footer-bottom{
            background-color: #767676;
    }
    .zoom {      
-webkit-transition: all 0.35s ease-in-out;    
-moz-transition: all 0.35s ease-in-out;    
transition: all 0.35s ease-in-out;     
cursor: -webkit-zoom-in;      
cursor: -moz-zoom-in;      
cursor: zoom-in;  
}     

.zoom:hover,  
.zoom:active,   
.zoom:focus {
*adjust scale to desired size, 
add browser prefixes*
-ms-transform: scale(1.5);    
-moz-transform: scale(1.5);  
-webkit-transform: scale(1.5);  
-o-transform: scale(1.5);  
transform: scale(1.5);    
position:relative;      
z-index:100;  
}
        .footertagline-div{
                background: #0E6837 url(../img/diamond.png);
    background-blend-mode: multiply;
    text-align: center;

        }
        .footertagline img{
                width: 160px;
    padding: 3px 0;
    /*-webkit-filter: contrast(0) brightness(200%);*/
    filter: contrast(0) brightness(200%);
}