.modal-open{overflow:hidden}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:999999999;
  display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0}

.close {
  position: absolute;
right: -8px;
top: -8px;
background: #1aab70;
border: 0px;
color: #fff;
border-radius: 50%;
font-size: 18px;
font-weight: bold;
cursor:pointer;
padding: 0px 6px 3px 6px;
}

div.wpcf7-mail-sent-ok {
  border:0px !important;
  font-size: 30px;
color: #019935;
line-height: 35px;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
}
div.wpcf7-response-output {
    margin: 0px !important;
    padding: 0.2em 1em;
}

.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform 
  .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%)}.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}.modal-open .modal{overflow-x:hidden;overflow-y:auto}.modal-dialog{position:relative;width:auto;margin:10px}


.modal-content{position:relative;
background-color:#fff;-webkit-background-clip:padding-box;
background-clip:padding-box;
border:1px solid #999;
border:1px solid rgba(0,0,0,.2);
border-radius:0px;
outline:0;
-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);
box-shadow:0 3px 9px rgba(0,0,0,.5)}



.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}



.modal-header{padding:20px 0px 10px 0px ; text-align:center;}
.modal-header h4{ font-size: 30px;
color: #019935;
margin-top:30px;
line-height: 35px;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;

}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

.sumbit-btn {
  border-radius:8px !important;
  font-size:14px !important;
  width:100%;
  text-align:center;
  padding:15px 0px !important;
}
.finput-02 {
  border-radius:8px !important;
  font-size:16px !important;
  width:100%;
  text-align:left;
  padding:8px;
  background:#FFF !important;
  margin-bottom:8px !important;
}
.finput-03 {
  border-radius:8px !important;
  font-size:16px !important;
  width:100%;
  text-align:left;
  padding:8px;
  background:#FFF;
  margin-bottom:8px;
  height:180px;
}
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    background: black!important;
    border: 0px!important;
    color: #fff!important;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer!important;
    padding: 0px 6px 3px 6px!important;
}

.modal-header .close{margin-top:-2px}.modal-title{margin:0;line-height:1.42857143}

.modal-body{position:relative;padding:15px 65px 20px 65px;}
.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}.modal-footer .btn-group .btn+.btn{margin-left:-1px}.modal-footer .btn-block+.btn-block{margin-left:0}.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}@media (min-width:768px){.modal-dialog{width:700px;margin:30px auto}.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}.modal-sm{width:300px}}
div.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;}

    .wpcf7-form-control-wrap {
    position: relative;
}
.pop-in {
    border: 0px !important;
    border-bottom: 1px #9f9f9f solid!important;
    width: 100%!important;
    padding: 15px 0px 5px 0px!important;
    margin-bottom: 20px!important;
    font-weight: 400;
    font-size: 16px;
    color: black;
}
.popbtn {
    border: 0px !important;
    padding: 10px 80px;
    margin-bottom: 20px!important;
    font-weight: 400!important;
    font-size: 16px!important;
    color: #FFF!important;
    background: #1aab70!important;
    margin-left: 25%;
}