<div class="container" >
          <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="heading">
              <h1 class="heading-desc">
                       Terms and Policy
              </h1>
              <div class="col-sm-12 col-md-12 col-lg-12 sub-heading" >
                     <h3 style="text-align: left;">Terms</h3>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 content-div">
                     <p style="text-align: left;" >By accessing the website at <a href="http://www.stones2milestones.com/">http://www.stones2milestones.com/</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 sub-heading" >
                     <h3 style="text-align: left;">Use License</h3>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 content-div">
                     <p style="text-align: left;" >a. Permission is granted to temporarily download one copy of the materials (information or software) on Stones2Milestones Edu Services Pvt. Ltd.'s website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not: <br><br>
                      1.modify or copy the materials;<br>
                      2.use the materials for any commercial purpose, or for any public display (commercial or non-commercial);<br>
                      3.attempt to decompile or reverse engineer any software contained on Stones2Milestones Edu Servicevices Pvt. Ltd.'s website;<br>
                      4.remove any copyright or other proprietary notations from the materials; <br>
                      5.transfer the materials to another person or "mirror" the materials on any other server.<br>
                      <br>
                      b. This license shall automatically terminate if you violate any of these restrictions and may be terminated by Stones2Milestones Edu Services Pvt. Ltd. at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</p>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 sub-heading" >
                     <h3 style="text-align: left;">Disclaimer</h3>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 content-div">
                     <p style="text-align: left;" >a. The materials on Stones2Milestones Edu Services Pvt. Ltd.'s website are provided on an 'as is' basis. Stones2Milestones Edu Services Pvt. Ltd. makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.<br>
                      b. Further, Stones2Milestones Edu Services Pvt. Ltd. does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</p>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 sub-heading" >
                     <h3 style="text-align: left;">Limitations</h3>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 content-div">
                     <p style="text-align: left;" >In no event shall Stones2Milestones Edu Services Pvt. Ltd. or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Stones2Milestones Edu Services Pvt. Ltd.'s website, even if Stones2Milestones Edu Services Pvt. Ltd. or a Stones2Milestones Edu Services Pvt. Ltd. authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you..</p>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 sub-heading" >
                     <h3 style="text-align: left;">Accuracy of materials</h3>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 content-div">
                     <p style="text-align: left;" >The materials appearing on Stones2Milestones Edu Services Pvt. Ltd.'s website could include technical, typographical, or photographic errors. Stones2Milestones Edu Services Pvt. Ltd. does not warrant that any of the materials on its website are accurate, complete or current. Stones2Milestones Edu Services Pvt. Ltd. may make changes to the materials contained on its website at any time without notice. However Stones2Milestones Edu Services Pvt. Ltd. does not make any commitment to update the materials.</p>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 sub-heading" >
                     <h3 style="text-align: left;">Links</h3>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 content-div">
                     <p style="text-align: left;" >Stones2Milestones Edu Services Pvt. Ltd. has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Stones2Milestones Edu Services Pvt. Ltd. of the site. Use of any such linked website is at the user's own risk.</p>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 sub-heading" >
                     <h3 style="text-align: left;">Modifications</h3>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 content-div">
                     <p style="text-align: left;" >Stones2Milestones Edu Services Pvt. Ltd. may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 sub-heading" >
                     <h3 style="text-align: left;">Governing Law</h3>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 content-div">
                     <p style="text-align: left;" >These terms and conditions are governed by and construed in accordance with the laws of Haryana and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 sub-heading" >
                     <h3 style="text-align: left;">Policy</h3>
              </div>              
              <div class="col-sm-12 col-md-12 col-lg-12 content-div">
                     <p style="text-align: left;" >Your privacy is important to us. <br>It is Stones2Milestones Edu Services Pvt. Ltd.'s policy to respect your privacy regarding any information we may collect while operating our website. Accordingly, we have developed this privacy policy in order for you to understand how we collect, use, communicate, disclose and otherwise make use of personal information. We have outlined our privacy policy below. <br><br>
                     We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.<br>
Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.<br>
We will collect and use personal information solely for fulfilling those purposes specified by us and for other ancillary purposes, unless we obtain the consent of the individual concerned or as required by law.<br>
Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.<br>
We will protect personal information by using reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.<br>
We will make readily available to customers information about our policies and practices relating to the management of personal information.<br>
We will only retain personal information for as long as necessary for the fulfilment of those purposes.<br><br>
We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. Stones2Milestones Edu Services Pvt. Ltd. may change this privacy policy from time to time at Stones2Milestones Edu Services Pvt. Ltd.'s sole discretion.
                     </p>
              </div>



            </div>
          </div>
        </div>